<section class="phx-hero">
  <h1>Crowd Review</h1>
  <p>
    Crowdsource your code reviews! <br/>
    Help other people review their code! Read more code!
  </p>
  <br/>
  <p>
    <%= link "Get a Review", to: Routes.review_request_path(@conn, :new), class: "button" %>
    <%= link "Give a Review", to: Routes.review_request_path(@conn, :index), class: "button" %>
  </p>
</section>
